@page "{id}"
@model ServiceHost.Areas.Admin.Pages.Shop.Products.EditModel
@{
    ViewData["Title"] = "ویرایش محصول";
    if (Model.Message != null && Model.IsSuccess)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی الکترون شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
    else if (Model.Message != null && !Model.IsSuccess)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی الکترون شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.Name">نام</label>
                        <input asp-for="Command.Name" type="text" class="form-control" placeholder="نام" onchange="makeSlug('Command_Name', 'Command_Slug')" />
                        <span asp-validation-for="Command.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.Slug">اسلاگ</label>
                        <input asp-for="Command.Slug" type="text" class="form-control" placeholder="اسلاگ" />
                        <span asp-validation-for="Command.Slug" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.Code">کد</label>
                        <input asp-for="Command.Code" type="text" class="form-control" placeholder="کد" />
                        <span asp-validation-for="Command.Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.Picture">عکس</label>
                        <input asp-for="Command.Picture" type="file" class="form-control" placeholder="عکس" accept="image/*" />
                        <span asp-validation-for="Command.Picture" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.PictureAlt">متن جایگزین عکس</label>
                        <input asp-for="Command.PictureAlt" type="text" class="form-control" placeholder="متن جایگزین عکس" />
                        <span asp-validation-for="Command.PictureAlt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.PictureTitle">عنوان عکس</label>
                        <input asp-for="Command.PictureTitle" type="text" class="form-control" placeholder="عنوان عکس" />
                        <span asp-validation-for="Command.PictureTitle" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.CategoryId">گروه محصول</label>
                        <select class="form-control" asp-for="Command.CategoryId" asp-items="Model.ProductCategories">
                            <option value="0">گروه محصول...</option>
                        </select>
                        <span asp-validation-for="Command.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.SubCategoryId">زیر گروه محصول</label>
                        <select class="form-control" asp-for="Command.SubCategoryId" asp-items="Model.ProductSubCategories">
                            <option value="0">زیر گروه محصول...</option>
                        </select>
                        <span asp-validation-for="Command.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Command.Keywords">کلمات کلیدی</label>
                        <input asp-for="Command.Keywords" type="text" class="form-control" placeholder="کلمات کلیدی" />
                        <span asp-validation-for="Command.Keywords" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Command.MetaDescription">توضیحات متا</label>
                        <textarea asp-for="Command.MetaDescription" class="form-control" placeholder="توضیحات متا"></textarea>
                        <span asp-validation-for="Command.MetaDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.Information">مشخصات</label>
                        <textarea asp-for="Command.Information" class="form-control" placeholder="مشخصات"></textarea>
                        <span asp-validation-for="Command.Information" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.Property">ویژگی ها</label>
                        <textarea asp-for="Command.Property" class="form-control" placeholder="ویژگی ها"></textarea>
                        <span asp-validation-for="Command.Property" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Command.Description">توضیحات کامل</label>
                        <textarea asp-for="Command.Description" class="form-control" placeholder="توضیحات کامل"></textarea>
                        <span asp-validation-for="Command.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info">ویرایش</button>
            <a class="btn btn-primary" asp-page="./Index">بازگشت</a>
        </div>
    </form>
</div>

@section Scripts
{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Command.Description');
    CKEDITOR.replace('Command.Information');
    CKEDITOR.replace('Command.Property');
</script>
<script>
    $(function () {
        $("select#Command_CategoryId").change(function () {
            var id = $(this).val();

            $("select#Command_SubCategoryId").empty();

            $.getJSON(`/Admin/Shop/ProductSubCategories/SubCategoryJson?id=${id}`, function (data) {
                $.each(data, function (i, item) {
                    $("select#Command_SubCategoryId").append(`<option value="${item.id}">${item.name}</option>`);
                });
            });
        });
    });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
